ul.cke_autocomplete_panel { width: 300px; }
ul.cke_autocomplete_panel > li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
ul.cke_autocomplete_panel > li.cke_autocomplete_selected.issue-i,
ul.cke_autocomplete_panel > li.issue-i:hover { background-color: white;font-weight: bold }
ul.cke_autocomplete_panel > li.cke_autocomplete_selected.issue-v,
ul.cke_autocomplete_panel > li.issue-v:hover { background-color: white;font-weight: bold }
ul.cke_autocomplete_panel > li.cke_autocomplete_selected.issue-a,
ul.cke_autocomplete_panel > li.issue-a:hover { background-color: white;font-weight: bold}
.issue-i { background-color: rgb(66,134,244,0.9); }
.issue-a { background-color: rgb(255,160,168,0.9); }
.issue-v { background-color: rgb(255,221,160,0.9); }
.issue-i::before { content: "" }
.issue-a::before { content: "" }
.issue-v::before { content: "" }
.issue-a { background-color: #aaa }
